html {
    background-color: #FFFBF1;
}

/************NAV**************/
.pageLinks {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    justify-content: space-between;
    font-size: 25px;
    margin-bottom: 0;
    padding: 10px 0 0 0;
    font-size: 20px;
}

.pg2 {
    text-decoration: none;
    color: #BE95E5;
}

a.pg2 {
  color: #783C9F;
}

.pg3 {
    text-decoration: none;
    color: #BE95E5;
}

a.pg3 {
  color: #783C9F;
}

.pg4 {
    text-decoration: none;
    color: #BE95E5;
}

a.pg4 {
  color: #783C9F;
}

/*************HEADER*************/

.head {
  background-color: #F9D7F9;
  margin-bottom: 1.45rem;
}

.hTitle {
  margin: 0;
}

.title {
  color: black;
  text-decoration: none;
  font-family: serif;
}
/**************INTRO************/
.intro {
    text-align: center;
}

.headWelcome {
  font-size: 40px;
  font-family: serif;
}

.divWelcome {
  font-size: 17px;
}

.introQuotes {
  font-size: 40px;
  font-family: serif;
}

.detailQuotes {
  font-size: 18px;
  font-family: serif;
}

.body {
    background: #000;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
  }

.linkHome {
  text-decoration: none;
}


/*************INDEX****************/

.indexHardQuote {
  text-align: center;
}

  /*************Breath**************/
  .breath {
    height: 125px;
    width: 125px;
    animation: pulse 4s cubic-bezier(0.5, 0, 0.5, 1) alternate infinite;
    /* position: absolute; */
    top:-100%; right:-100%; left:-100%; bottom:-100%;
    margin:auto;
    z-index:0;
  }
  
  .circle {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: screen;
    transform: translate(0, 0);
    animation: center 6s infinite;
  }
  
  .circle:nth-child(odd) {
    background-color: #F7C7FE
  }
  
  .circle:nth-child(even) {
    background-color: #F9D7F9;
  }
  
  .circle:nth-child(1) {
    animation: circle-1 4s ease alternate infinite;
  }
  
  .circle:nth-child(2) {
    animation: circle-2 4s ease alternate infinite;
  }
  
  .circle:nth-child(3) {
    animation: circle-3 4s ease alternate infinite;
  }
  
  .circle:nth-child(4) {
    animation: circle-4 4s ease alternate infinite;
  }
  
  .circle:nth-child(5) {
    animation: circle-5 4s ease alternate infinite;
  }
  
  .circle:nth-child(6) {
    animation: circle-6 4s ease alternate infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(.15) rotate(180deg);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes circle-1 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-35px, -50px);
    }
  }
  
  @keyframes circle-2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(35px, 50px);
    }
  }
  
  @keyframes circle-3 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-60px, 0);
    }
  }
  
  @keyframes circle-4 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(60px, 0);
    }
  }
  
  @keyframes circle-5 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-35px, 50px);
    }
  }
  
  @keyframes circle-6 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(35px, -50px);
    }
  }

  /***********FAV*****************/

  .headQuote {
    text-align: center;
    font-family: serif;
  }

  .favHardQuote {
    text-align: center;
  }

  /************QUOTE**************/




  /*************ABOUT**************/

  .blogOneLink {
    text-align: center;
  }

  /***********RESOURCE************/

  .resource {
    margin: 0px auto;
    max-width: 960px;
    padding: 0px 1.0875rem 1.45rem;
  }

  .headResource {
    text-align: center;
    font-family: serif;
  }

  .resourceLinks {
    text-decoration: none;
    color: #783C9F;
  }

  .guideVideo {
    text-align: center;
  }

  .resourceHardQuote {
    text-align: center;
  }

  /*************ABOUT*************/

  .aboutHead {
    text-align: center;
    font-family: serif;
  }

  .aboutContainer {
    text-align: center;
  }

  .aboutHardQuote {
    text-align: center;
  }

  /************FOOTER*************/

  .footer {
    margin-top: 2rem;
    font-size: 15px;
  }

  .footLink {
    text-decoration: none;
    color: #783C9F;
  }

  /*************TABLET**************/

  /**********NAV************/

  @media (min-width: 768px) {

  .pageLinks {
    font-size: 25px;
    padding: 10px 10px 0 10px;
  }

  /**********INDEX**********/

    .headWelcome {
      font-size: 45px;
      padding: 15px;
    }

    .divWelcome {
      font-size: 20px;
    }

    .video {
      padding: 20px;
    }

    .indexHardQuote {
      font-size: 20px;
    }
  }

  /**********DESKTOP********************/

  @media (min-width: 1024px) {

    /***********NAV***************/

    .pageLinks {
      font-size: 30px;
      padding: 5px 0;
    }

    /**********INDEX*************/
    
    .headWelcome {
      font-size: 60px;
    }

    .divWelcome {
      font-size: 22px;
    }

    .indexHardQuote {
      font-size: 22px;
    }


  }