html {
    background-color: lavenderblush;
}

/************NAV**************/
.pageLinks {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    justify-content: space-between;
    font-size: 25px;
    margin-bottom: 0;
    padding: 10px 0 0 0;
    font-size: 20px;
}

.pg2 {
    text-decoration: none;
}

.pg3 {
    text-decoration: none;
}

.pg4 {
    text-decoration: none;
}

/**************INTRO************/
.intro {
    text-align: center;
}

.body {
    background: #000;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
  }

  /*************Breath**************/
  .breath {
    height: 125px;
    width: 125px;
    animation: pulse 4s cubic-bezier(0.5, 0, 0.5, 1) alternate infinite;
    /* position: absolute; */
    top:-100%; right:-100%; left:-100%; bottom:-100%;
    margin:auto;
    z-index:0;
  }
  
  .circle {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: screen;
    transform: translate(0, 0);
    animation: center 6s infinite;
  }
  
  .circle:nth-child(odd) {
    background: #61bea2;
  }
  
  .circle:nth-child(even) {
    background: #529ca0;
  }
  
  .circle:nth-child(1) {
    animation: circle-1 4s ease alternate infinite;
  }
  
  .circle:nth-child(2) {
    animation: circle-2 4s ease alternate infinite;
  }
  
  .circle:nth-child(3) {
    animation: circle-3 4s ease alternate infinite;
  }
  
  .circle:nth-child(4) {
    animation: circle-4 4s ease alternate infinite;
  }
  
  .circle:nth-child(5) {
    animation: circle-5 4s ease alternate infinite;
  }
  
  .circle:nth-child(6) {
    animation: circle-6 4s ease alternate infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(.15) rotate(180deg);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes circle-1 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-35px, -50px);
    }
  }
  
  @keyframes circle-2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(35px, 50px);
    }
  }
  
  @keyframes circle-3 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-60px, 0);
    }
  }
  
  @keyframes circle-4 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(60px, 0);
    }
  }
  
  @keyframes circle-5 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-35px, 50px);
    }
  }
  
  @keyframes circle-6 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(35px, -50px);
    }
  }

  /***********RESOURCE************/

  .resource {
    margin: 0px auto;
    max-width: 960px;
    padding: 0px 1.0875rem 1.45rem;
  }

  /*************ABOUT*************/

  .aboutHead {
    text-align: center;
  }

  .aboutContainer {
    text-align: center;
  }

  /************FOOTER*************/

  .footer {
    margin-top: 2rem;
    font-size: 15px;
  }

  .footLink {
    text-decoration: none;
  }